{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="wrapper">
  <div class="header">
    <h3 class="sign-in">Регистрация</h3>

   <a href="{% url 'account_login' %}"><div class="button">
       Вход
    </div></a>
  </div>

   <div class="clear"></div>

  <form  class="login" id="signup_form" method="post" action="{% url 'account_signup' %}">
   {% csrf_token %}
      {{ form.email}}
   {{ form.password1 }}
      {{ form.password2 }}


      <input type="submit" value="Зарегистрироваться" />

    <div class="radio-check">

    </div>

  </form>
</div>

{% endblock %}