{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
{{post.title}}
{% endblock title %}

<style type="text/css">
.string_of_table{
background: green;
color: red;
}



</style>



{% block content %}
<h1 align="center">{{post.title|censor}}</h1>
<p align="justify">{{post.content|safe}} </p>
<h6 align="right">{{ post.time_in |date:'d M Y' }}</h6>

{% if comments %}
{% for comment in comments %}


<table>
  <tr>
      <div class="p-3"> <td>{{ user }}</td></div>
     <div class="p-3">  <td>{{ comment.text }}</td></div>
      <div class="p-3"> <td>{{ comment.time_in |date:'d M Y' }}</td></div>
  </tr>






{% endfor %}

</table>
{% else %}
       <h2 align="center">Нет комментариев</h2>
{% endif %}


<form method="post" align="center" style="margin-top: 50px; margin-bottom: 100px; ">
    {% csrf_token %}
    <input name="text_of_comment" type="text" placeholder="Ваш комментарий" style="width: 1000px; height: 200px">
    <input type="submit" value="Отправить">
    <button>Лайк</button>
</form>

{% endblock content %}
