{% extends 'base.html' %}

{% block title %}
{{posts}}
{% endblock title %}


{% block content %}
   <h1 align="center">Все новости</h1>
   <hr>
   {% if posts %}
       <table align="center" width="1200">
           <tr align="center">
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст статьи</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td align="center"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></td>
               <td align="center">{{ post.time_in |date:'d M Y' }}</td>
               <td align="center">{{ post.content |truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}
